*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

blockquote,
q {
  quotes: none;
}

img {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  font: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
